<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792718616156-55iighaibm4obu522rhcqg7b4urhf4nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792718616156-55iighaibm4obu522rhcqg7b4urhf4nj</string>
	<key>API_KEY</key>
	<string>AIzaSyCCrcPV3E-GxKVPtIsKv0CTQYLwTWwSNBU</string>
	<key>GCM_SENDER_ID</key>
	<string>792718616156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.myshopping</string>
	<key>PROJECT_ID</key>
	<string>meushopping-a90fb</string>
	<key>STORAGE_BUCKET</key>
	<string>meushopping-a90fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792718616156:ios:94e3b99d4c782f1b6f6899</string>
</dict>
</plist>